services:
  redis:
    image: redis:8-alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    networks:
      - starlight

  postgresql:
    image: pgvector/pgvector:pg17-trixie
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-starlight-admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-starlight}
      POSTGRES_DB: ${POSTGRES_DB:-starlight}
    ports:
      - 5432:5432
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    networks:
      - starlight

  server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    env_file:
      - apps/server/.env
    depends_on:
      - redis
      - postgresql
    networks:
      - starlight

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    env_file:
      - apps/web/.env
    ports:
      - 3000:3000
    depends_on:
      - redis
      - postgresql
    networks:
      - starlight

  classification:
    build:
      context: classification
      dockerfile: Dockerfile
    env_file:
      - classification/.env
    ports:
      - 8081:8000
    networks:
      - starlight

volumes:
  redis_data:
  postgresql_data:

networks:
  starlight:
    driver: bridge
