STARLIGHT_BOT_TOKEN=
WHITELIST_CHAT_IDS=

OPENROUTER_API_KEY=
EXA_API_KEY=
EXA_API_BASE_URL=https://api.exa.ai

LOG_LEVEL=debug

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com
LANGFUSE_TRACING_ENVIRONMENT=development

OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
